# temp files
__pycache__/
*.swp
*.py[cod]
.cache
.vscode

# packaging related
dist/
build/
eggs/
.eggs/
SigMF.egg-info/*

# test related
.coverage
.hypothesis/
.tox/
coverage.xml
pytest.xml
htmlcov/*

# docs related
docs/_build/
docs/source/_autosummary/

# dev related
.vscode/
